:80, :443 {
  tls /etc/certs/localhost+2.pem /etc/certs/localhost+2-key.pem
  ratelimit * /r 5 5 second

  proxy /api/ http://api:80/ {
    without /api
  }
  proxy /oauth2/ http://api:80/ {

  }
  proxy / http://web:80/
}
