:80, :443 {
  tls /etc/certs/localhost.cert /etc/certs/localhost.key

  proxy /api/ http://host.docker.internal:7201/ {
    without /api
  }
  proxy /oauth2/ http://host.docker.internal:7201/ {

  }

  proxy / http://host.docker.internal:7203/ {
    websocket
  }
}
