:80, :443 {
  tls /etc/certs/localhost+2.pem /etc/certs/localhost+2-key.pem

  proxy /api/ http://host.docker.internal:7201/ {
    without /api
  }
  proxy /oauth2/ http://host.docker.internal:7201/ {

  }
  proxy / http://web:80/
}
